/* 
Extra pequeño menor de 576px	
Pequeño mayor de 576px	
Medio mayor de 768px	
Grande mayor de992px	
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}
.p-20{
  padding: 20px;
}
.card {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: 0.3s;
  margin-top: 10px;
  padding: 0 20px 20px 20px;
} 

.card:hover {
  box-shadow: 0 16px 32px 0 #a8ffb2;
}                        

/* .img-person {
  margin: 12px 0 12px 40px;
} */
.b-margen {
  border: cadetblue solid 1px;
  height: 20px;
  width: 20px;
  border-radius: 30%;
  float: left;
  padding: 1px 2px;
  margin: 2px;
}
.logo {
  height: 100px;
  width: 100px;
}

.figure-logo {
display: flex;
justify-content: center;
}
.text-align-start {
  text-align: left;
}
.card:hover {
  box-shadow: 0 16px 32px 0 #a8ffb2;
}
body {
  padding-top: 168px;
}
.nn {
  float: right;
}
.section-nav {
  height: 129px;
}
nav {
  top: 0;
  position: fixed;
  padding: 20px;
  background-color: black;
}

.imgHP {
  height: 133px;
  width: 136px;
  margin: 12px 0px 0px;
  border-radius: 50%;
}
.subtitle{
  margin-bottom: 20px;
}
.mrg-b-8 {
  margin-bottom: 8px;
}
.imgI {
  height: 50px;
  width: 40px;
  border-radius: 5px;
  float: right;
}

p {
  text-align: left;
}


[class*="col-"] {
  float: left;
}

#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.fila {
  margin: auto;
  width: 100%;
  height: auto;
}

.selector {
  margin: 2px;
}

span {
  color: wheat;
}

label {
  color: wheat;
}

h1 {
  margin: 14px 0px;
  font-style: italic;
  font-weight: bold;
  font-size: x-large;
  color: #696969;
  font-family: "Monserrat", sans-serif;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.6666666666666%;
}

.col-xs-10 {
  width: 83.33333333333334%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666666666666%;
}

.col-xs-7 {
  width: 58.333333333333336%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666666666667%;
}

.col-xs-4 {
  width: 33.33333333333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.666666666666664%;
}

.col-xs-1 {
  width: 8.333333333333332%;
}

/* tablets sm */
@media (min-width: 576px) {
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.6666666666666%;
  }

  .col-sm-10 {
    width: 83.33333333333334%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666666666666%;
  }

  .col-sm-7 {
    width: 58.333333333333336%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666666666667%;
  }

  .col-sm-4 {
    width: 33.33333333333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.666666666666664%;
  }

  .col-sm-1 {
    width: 8.333333333333332%;
  }
}

/* laptops md*/
@media (min-width: 768px) {
  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.6666666666666%;
  }

  .col-md-10 {
    width: 83.33333333333334%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666666666666%;
  }

  .col-md-7 {
    width: 58.333333333333336%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666666666667%;
  }

  .col-md-4 {
    width: 33.33333333333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.666666666666664%;
  }

  .col-md-1 {
    width: 8.333333333333332%;
  }
  .section {
    height: 100vh;
  }
  body {
    padding-top: 0px;
  }

  nav {
    top: 0;
    position: fixed;
    padding-top: 20px;
    height: 100vh;
    background-color: black;
  }

  .imgHP {
    height: 133px;
    width: 136px;
    margin: 12px 0px 0px;
    border-radius: 50%;
  }

  .imgI {
    height: 50px;
    width: 40px;
    border-radius: 5px;
    float: right;
  }





  p {
    text-align: left;
  }

  .button {
    margin: 100px 0px;
  }
  .nn {
    float: right;
  }
  #root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
 

  .fila {
    margin: auto;
    width: 100%;
    height: auto;
  }

  .selector {
    margin: 2px;
  }

  span {
    color: wheat;
  }

  label {
    color: wheat;
  }

  h1 {
    margin: 14px 0px;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
    color: #696969;
    font-family: "Monserrat", sans-serif;
  }

}


/* desktops */
@media (min-width: 992px) {
  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.6666666666666%;
  }

  .col-lg-10 {
    width: 83.33333333333334%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666666666666%;
  }

  .col-lg-7 {
    width: 58.333333333333336%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666666666667%;
  }

  .col-lg-4 {
    width: 33.33333333333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.666666666666664%;
  }

  .col-lg-1 {
    width: 8.333333333333332%;
  }

  body {
    padding-top: 0px;
  }

  nav {
    top: 0;
    position: fixed;
    padding-top: 20px;
    height: 100vh;
    background-color: black;
  }

  .imgHP {
    height: 133px;
    width: 136px;
    margin: 12px 0px 0px;
    border-radius: 50%;
  }

  .imgI {
    height: 50px;
    width: 40px;
    border-radius: 5px;
    float: right;
  }


  p {
    text-align: left;
  }

  .button {
    margin: 100px 0px;
  }

  #root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }


  .fila {
    margin: auto;
    width: 100%;
    height: auto;
  }

  .selector {
    margin:2px;
  }

  span {
    color: wheat;
  }

  label {
    color: wheat;
  }

  h1 {
    margin: 14px 0px;
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
    color: #696969;
    font-family: "Monserrat", sans-serif;
  }
  .posicion {
    justify-content: center;
  }
}

/* insignia */
/* .cuadrado {
  height: 40px;
  width: 40px;
  background-color: red;
}
.container-insignia {
  margin-left: 0;
  margin-right: auto;
  width: 40px;
}
.container-footer-logo {
  width: 40px;
}

.divcortado1 {
  width: 50%;
  float: left;
  border-left: 20px solid red;
  border-bottom: 10px solid transparent;
}

.divcortado2 {
  float: left;
  border-right: 20px solid red;
  border-bottom: 10px solid transparent;
  width: 50%;
} */
